<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seznam studentů</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/teacher.css}">
</head>
<body>
<div class="containers">
    <h1>Seznam studentů</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Jméno</th>
            <th scope="col">Příjmení</th>
            <th scope="col">Třída</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentList}">
            <td th:text="${student.studentName}">Student Name</td>
            <td th:text="${student.studentSurname}">Student Surname</td>
            <td>
                <a th:href="@{/student/{id}(id=${student.classRoom})}">
                    Třída  <i class="bi bi-arrow-right-square-fill"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/student/{id}(id=${student.studentId})}">
                    <i class="bi bi-arrow-right-square-fill"></i> <img src="images/detail.png" alt="Detail">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>