<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seznam učitelů a asistentů třídy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/teacher.css}">
</head>
<body>
    <div class="containers">
        <h1>Seznam učitelů a asistentů třídy</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Jméno</th>
                    <th scope="col">Příjmení</th>
                    <th scope="col">Třída</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Vymazat</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher : ${teacherList}">
                    <td th:text="${teacher.teacherName}">Teacher Name</td>
                    <td th:text="${teacher.teacherSurname}">Teacher Surname</td>
                    <!--<td th:text="${teacher.classRoom}">Class Room</td>-->
                    <td>
                        <a th:href="@{/classRoom/{id}(id=${teacher.classRoom})}" >
                            <a th:text="${teacher.classRoom}">Class Room</a>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/teacher/{id}(id=${teacher.teacherId})}">
                            <i class="bi bi-arrow-right-square-fill"></i> <img src="images/detail.png" alt="Detail">
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/teacher/deleteTeacher}" method="post" onsubmit="return confirm('Opravdu chcete smazat tohoto učitele?');">
                            <input type="hidden" name="teacherId" th:value="${teacher.teacherId}" />
                            <button type="submit" class="btn btn-danger">🗑️</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2 class="mt-5">Vytvořit nového učitele</h2>
        <form th:action="@{/teacher/createTeacher}" method="post">
            <div class="mb-3">
                <label for="teacherName" class="form-label">Jméno</label>
                <input type="text" class="form-control" id="teacherName" name="teacherName" required>
            </div>
            <div class="mb-3">
                <label for="teacherSurname" class="form-label">Příjmení</label>
                <input type="text" class="form-control" id="teacherSurname" name="teacherSurname" required>
            </div>
            <div class="mb-3">
                <label for="classRoomName" class="form-label">Třída</label>
                <input type="text" class="form-control" id="classRoomName" name="classRoomName" required>
            </div>
            <button type="submit" class="btn btn-primary">Vytvořit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
</body>
</html>